.center {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	@media screen and (max-width: 700px) {
		width: 90%;
	}
}
.bg {
	background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 5px 1rem 10px;
}